@model ErlezWebUI.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gtin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gtin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyBuyer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyBuyer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanySeller.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanySeller.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice.InvoiceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.InvoiceNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
