@model ErlezWebUI.Models.HeadRef

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HeadRef</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HeadRefQual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeadRefQual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeadRef1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeadRef1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeadRefDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeadRefDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Head.IAID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Head.IAID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
